In [1]:
from client_auth import create_client
client = create_client()

In [2]:
import pandas as pd

In [20]:
nst_est_data = pd.read_csv("../data/nst-est2014-01-cleaned.csv", usecols=["State","Abbrv.",
                                                                "2011.0","2012.0","2013.0","2014.0"])

nst_est_data.columns = ["state", "abbrv", "2011", "2012", "2013", "2014"]
nst_est_data["state"] = nst_est_data["state"].str.replace(".", "")

In [21]:
print(nst_est_data.head())

         state abbrv        2011        2012        2013        2014
0     .Alabama    AL   4799069.0   4815588.0   4830081.0   4841799.0
1      .Alaska    AK    722128.0    730443.0    737068.0    736283.0
2     .Arizona    AZ   6472643.0   6554978.0   6632764.0   6730413.0
3    .Arkansas    AR   2940667.0   2952164.0   2959400.0   2967392.0
4  .California    CA  37638369.0  37948800.0  38260787.0  38596972.0

In [22]:
nst_est_data["state"] = nst_est_data["state"].str.replace(".", "")

<ipython-input-22-ef8a1a8dcde9>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  nst_est_data["state"] = nst_est_data["state"].str.replace(".", "")

In [24]:
print(len(nst_est_data))

51

In [23]:
print(nst_est_data.tail(10))

            state abbrv        2011        2012        2013        2014
41   South Dakota    SD    823579.0    833566.0    842316.0    849129.0
42      Tennessee    TN   6399291.0   6453898.0   6494340.0   6541223.0
43          Texas    TX  25645629.0  26084481.0  26480266.0  26964333.0
44           Utah    UT   2814384.0   2853375.0   2897640.0   2936879.0
45        Vermont    VT    627049.0    626090.0    626210.0    625214.0
46       Virginia    VA   8101155.0   8185080.0   8252427.0   8310993.0
47     Washington    WA   6826627.0   6897058.0   6963985.0   7054655.0
48  West Virginia    WV   1856301.0   1856872.0   1853914.0   1849489.0
49      Wisconsin    WI   5705288.0   5719960.0   5736754.0   5751525.0
50        Wyoming    WY    567299.0    576305.0    582122.0    582531.0

In [63]:
agg_pop_data = pd.read_csv("../data/sc-est2019-agesex-civ.csv", usecols=[ "STATE", "NAME", "SEX", "AGE", "POPEST2014_CIV"])

In [64]:
agg_pop_data.head()

   STATE           NAME  SEX  AGE  POPEST2014_CIV
0      0  United States    0    0         3954787
1      0  United States    0    1         3948891
2      0  United States    0    2         3958711
3      0  United States    0    3         4005928
4      0  United States    0    4         4004032

In [65]:
print(len(agg_pop_data))

13572

In [81]:
agg_65 = agg_pop_data[ (agg_pop_data["AGE"] >= 65) &  (agg_pop_data["AGE"] < 999) ]

In [82]:
agg_65_al = agg_65[agg_65["NAME"] == "Alabama"]

In [68]:
print(len(agg_65_al))

60

In [83]:
agg_65_al

     STATE     NAME  SEX  AGE  POPEST2014_CIV
326      1  Alabama    0   65           54995
327      1  Alabama    0   66           54848
328      1  Alabama    0   67           56873
329      1  Alabama    0   68           41763
330      1  Alabama    0   69           41638
..     ...      ...  ...  ...             ...
516      1  Alabama    2   81           11471
517      1  Alabama    2   82           10915
518      1  Alabama    2   83           10360
519      1  Alabama    2   84            9816
520      1  Alabama    2   85           56858

[63 rows x 5 columns]

In [86]:
pop_65_plus_AL = agg_65_al["POPEST2014_CIV"].sum()

In [87]:
pop_65_plus_AL

1483632

In [77]:
dict_pop_65 = {"Alabama": "AL", ""}

In [80]:
for key, val in dict_pop_65.items():
    print(key)

Alabama

In [103]:
states =  list(set(df['NAME']))
states.sort()

In [119]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [120]:
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [136]:
df = agg_65
states =  list(set(df['NAME']))
states.sort()
my_dict = {}
for key, val in abbrev_us_state.items():
    my_dict[val] = {"state": key, "pop_over_65": df.where(df['NAME'] == val)['POPEST2014_CIV'].sum()}

In [137]:
new_df = pd.DataFrame.from_dict(my_dict, orient='index')

In [138]:
new_df.reset_index()

                   index state  pop_over_65
0                Alabama    AL    1483632.0
1                 Alaska    AK     139788.0
2                Arizona    AZ    2119908.0
3               Arkansas    AR     931030.0
4             California    CA    9901612.0
5               Colorado    CO    1351320.0
6            Connecticut    CT    1126020.0
7               Delaware    DE     307898.0
8   District of Columbia    DC     154688.0
9                Florida    FL    7541094.0
10               Georgia    GA    2496226.0
11                Hawaii    HI     459462.0
12                 Idaho    ID     462876.0
13              Illinois    IL    3598466.0
14               Indiana    IN    1883658.0
15                  Iowa    IA     979276.0
16                Kansas    KS     829208.0
17              Kentucky    KY    1309084.0
18             Louisiana    LA    1268788.0
19                 Maine    ME     486384.0
20              Maryland    MD    1643450.0
21         Massachusetts    MA    2041242.0
22              Michigan    MI    3062432.0
23             Minnesota    MN    1555052.0
24           Mississippi    MS     852344.0
25              Missouri    MO    1865118.0
26               Montana    MT     339170.0
27              Nebraska    NE     541634.0
28                Nevada    NV     800082.0
29         New Hampshire    NH     424514.0
30            New Jersey    NJ    2634936.0
31            New Mexico    NM     634530.0
32              New York    NY    5847456.0
33        North Carolina    NC    2917798.0
34          North Dakota    ND     209268.0
35                  Ohio    OH    3599996.0
36              Oklahoma    OK    1122272.0
37                Oregon    OR    1255770.0
38          Pennsylvania    PA    4269486.0
39          Rhode Island    RI     333120.0
40        South Carolina    SC    1521742.0
41          South Dakota    SD     256652.0
42             Tennessee    TN    1965944.0
43                 Texas    TX    6159630.0
44                  Utah    UT     588272.0
45               Vermont    VT     211278.0
46              Virginia    VA    2295844.0
47            Washington    WA    1971316.0
48         West Virginia    WV     658602.0
49             Wisconsin    WI    1740752.0
50               Wyoming    WY     163912.0

In [132]:
new_df.iloc[0]

state                AL
pop_over_65    163912.0
Name: Alabama, dtype: object